<style>
    .testanswer
    {
        margin-top: 30px;
    }
</style>
<div>
  <h1>Section 1: Introduction</h1>
  <div style="background-color:whitesmoke">
  <p>Name: $name </p>
  <p>Email: $email </p>
  <p>Upline: $submitdate </p>
  <p>IQ: $iq </p>
  <p>ENG: $eng </p>
  <p>PRES: $pres </p>
  <p>ARCH: $arch </p>
  <p>POTE: $pote </p>
  <p>SUM: $sum </p>
  <p>total: $total </p>
  <p>Comment: $comment </p>
  </div>
  <h1>Section 2: Detail Info</h1>
  <div style="background-color:whitesmoke">
    $requiredfield 
  </div>
  <div style="background-color: whitesmoke">
      $cvfilecontent 
  </div>
  <h1>Section 3: Test Result</h1>
  <h2>IQ test $iqpoint  / $maxiqpoint </h2>
  $iqtestcontent 
  <h2>English test $engpoint  / $maxengpoint </h2>
  $engtestcontent
</div>