<div>
	<div class="id_detail">
		<form class="form-inline">
			<div class="form-group col-md-12">
				<code class="id_id hidden"></code>
                <label> Tên
                    <input type="text" class="id_name form-control"/>
                </label>
            </div>
            <div class="col-md-12 form-group">
                <label> Tiêu đề
                    <input type="text" class="id_subject form-control"/>
                </label>
            </div>
			<div class="col-md-12 form-group">
				<label>Nội dung</label>
				<textarea class="id_body form-control" />
			</div>
            <div class="col-md-12 form-group">
                <label>Chữ ký</label>
                <textarea class="id_sign form-control" />
            </div>
		</form>
	</div>
	<table>
		<tbody class="id_tem">
			<tr>
				<td class="center checkboxcontainer" style="width: 36px">
					<label>
						<input type="checkbox" class="ace id_c">
						<span class="lbl"></span>
					</label>
				</td>
				<td>
					<code class="id_id"></code>
					<code class="id_name"></code>
					<code class="id_ctime"></code>
				</td>
			</tr>
		</tbody>
	</table>

</div>