
ul.id_bagcontainer
	li.id_addnew
		div
			.bag.text-center
				span.icon-plus
	.hidden
		li.bag.id_hiddenbag
			div
				code.id_n 
				| &nbsp;&nbsp;
				.id_name(style="display:inline-block;width:120px")
				| &nbsp;&nbsp;
				span.close ×
