div.row
	.col-md-12
			h3 Tự động gửi mail cho ứng viên sau khi nhận được CV
			.id_autosendrc
	.col-md-12
			h3 Tự động tạo bài kiểm tra sau khi ứng viên gửi CV
			.id_autoopentest
	.col-md-12
			h3 Tự động gửi mail từ chối
			.id_autosendtr
	.col-md-12
			h3 Số câu hỏi, thời gian (n,p)
			.id_n