.id_content.id_actionmenu.dropdown
	span.icon-comment.dropdown-toggle(data-toggle="dropdown")
		span.caret
	ul.dropdown-menu.dropdown-menu-right(role='menu')
		li(role="presentation").divider.id_div
		li(role="presentation")
			input(type="text").id_newcomment