a.dropdown-toggle(href='#', data-toggle='dropdown')
	span.icon-bolt3
		|   
	span.id_numberoferror
		|  0
	b.caret
	ul.dropdown-menu(style="min-width:300px")
		li.dropdown-header
			| 0 new system crash reported
		li(role='presentation')
			a.menuitem
				strong Thanhpk
				span.pull-right.text-muted
					| Yesterday
				div Không lưu được dữ liệu
		li.divider
		li(role='presentation')
			a.menuitem
				| Read all messages