div
	.row
		.col-md-12
			h1 Thư gửi sau khi nhận CV
		.col-md-4
			h2 Tiêu đề
			textarea.id_rctitle(type="text", rows=5, style="width:100%").form-control
		.col-md-4
			h2 Nội dung
			.id_rcbody
		.col-md-4
			h2 Chữ ký
			.id_rcsignature
	.row
		.col-md-12
			h1 Thư thông báo test
		.col-md-4
			h2 Tiêu đề
			textarea.id_ttitle(type="text", rows=5, style="width:100%").form-control
		.col-md-4
			h2 Nội dung
			.id_tbody
		.col-md-4
			h2 Chữ ký
			.id_tsignature
	.row
		.col-md-12
			h1 Mail thông báo kết quả (điểm) thi
		.col-md-4
			h2 Tiêu đề
			textarea.id_trtitle(type="text", rows=5, style="width:100%").form-control
		.col-md-4
			h2 Nội dung
			.id_trbody
		.col-md-4
			h2 Chữ ký
			.id_trsignature
	.row
		.col-md-12
			h1 Mail từ chối
		.col-md-4
			h2 Tiêu đề
			textarea.id_rjtitle(type="text", rows=5, style="width:100%").form-control
		.col-md-4
			h2 Nội dung
			.id_rjbody
		.col-md-4
			h2 Chữ ký
			.id_rjsignature
	.row
		.col-md-12
			button.btn.btn-danger.id_save.btn-lg(style="margin-top:40px")
				span.icon-save
				|  Lưu thay đổi