form.form-inline.form-horizontal.pull-right
	.btn-group(style="min-width:140px")
			button.btn.id_prev.btn-default(type="button")
				span.icon-angle-left
			button.btn.id_next.btn-default(type="button")
				span.icon-angle-right
			.input-group(style="width:72px")
				input(type="text", style="width:40px").id_index.form-control
				span.input-group-addon.id_total