div.col-md-12
	.row
		h3 Mật khẩu cũ
		input.form-control.id_oldpassword(type="password",style="max-width:200px",placeholder="old password")
		
		h3 Mật khẩu mới
		input.form-control.id_newpassword(type="password",style="max-width:200px",placeholder="new password")
		
		h3 Gõ lại mật khẩu mới
		input.form-control.id_retype(type="password",style="max-width:200px",placeholder="retype password")
	.row
		.id_captcha
	.row
		button.btn.btn-danger.id_changebt(data-loading-text="Lưu...", style="margin-top: 20px").btn-lg
			span.icon-save 
			|  &nbsp; Lưu