div.row
	div.col-md-12
		span.icon-flag
		|  &nbsp;
		span Tin tuyển dụng
		|  &nbsp;:
		.dropdown(style="display:inline-block")
			a.id_request(data-toggle="dropdown", href="#")
				span.id_requestid
				span.caret
			ul.dropdown-menu.dropdown-menu-right(role='menu').id_menu
