ul
	li.active
		a.id_request
			| Tin tuyển dụng &nbsp;&nbsp;
			span.icon-flag
	li
		a.id_cv 
			| Hồ sơ ứng viên &nbsp;&nbsp;
			span.icon-vcard
	li
		a.id_eng
			| Câu hỏi Tiếng Anh &nbsp;&nbsp;
			span.icon-database 
	li
		a.id_iq 
			|  Câu hỏi IQ &nbsp;&nbsp;
			span.icon-database
	li
		a.id_field &nbsp;&nbsp;
			|  Trường bắt buộc &nbsp;&nbsp;
			span.icon-tag
	li
		a.id_email
			|  Mẫu Email &nbsp;&nbsp;
			span.icon-mail
	li
		a.id_config
			|  Tùy chỉnh &nbsp;&nbsp;
			span.icon-cog3