div
	div.id_starlist
		span.glyphicon.glyphicon-star.id_0
		span.glyphicon.glyphicon-star.id_1
		span.glyphicon.glyphicon-star.id_2
		span.glyphicon.glyphicon-star.id_3
		span.glyphicon.glyphicon-star.id_4
	div.hidden.id_wait
		include waitinline.jade
	div.hidden.id_error
		span.glyphicon.glyphicon-warning-sign
