li.dropdown
	a.dropdown-toggle(href='#', data-toggle='dropdown')
		span.id_username
		|  &nbsp;
		span.icon-user
		b.caret
	ul.dropdown-menu
		li
			a.id_changepassword(href='#password') 
				span.icon-key
				nbsp
				|  Đổi mật khẩu
		li.divider
		li
			a(href="#").id_logout
				span.icon-signout
				|  Đăng xuất